{% extends "base.html" %}
{% block content %}
<div class="row">
    <h5>Videos Clases del Marte 05 Junio 2024</h5>
    {% for doc in documentos %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ doc.get_documento_url }}">Descargar Documento Original</a>
                    <h5>Resumen AI</h5>
                    <p>{{doc.resumen_ai}}</p>
                    
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock content %}