{% extends "base.html" %}
{% block content %}
<div class="row">
    <h5>Videos Clases del Marte 05 Junio 2024</h5>
    {% for text in textos %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5>{{ text.nombre }}</h5>
                    <h5>Resumen AI</h5>
                    <p>{{ text.resumen_ai }}</p>
                    
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock content %}