{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for vid in videos %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        {% if vid.get_video_resumen_url %}
        <video
          id="contenidoalumno-video-resumen-{{ vid.id }}"
          width="320"
          height="240"
          controls
          onplaying="registrarReproduccion('{{ vid.id }}', 'resumen')"
        >
          <source src="{{ vid.get_video_resumen_url }}" type="video/mp4" />
          Tu navegador no soporta el video.
        </video>
        {% else %}
        <p><strong>Este video aún no tiene resumen.</strong></p>
        {% endif %}

        <h5>Descripción</h5>
        <p>{{ vid.descripcion }}</p>
        <h5>Texto</h5>
        <p>{{ vid.texto }}</p>
        <h5>Resumen AI</h5>
        <p>{{ vid.texto_resumen }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script>

function registrarReproduccion(id, tipo) {
  $.ajax({
    type: "POST",
    url: "/datos/registrar-reproduccion/" + id + "/",
    headers: {
      "X-CSRFToken": getCookie("csrftoken"),
    },
    success: function (data) {
      console.log("Reproducción registrada:", data);
    },
    error: function (error) {
      console.error("Error al registrar reproducción:", error);
    },
  });
}

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock js %}