{% extends 'registration/login.html' %}

{% block content %}
	{% if validlink %}
		
		<form method="POST">{% csrf_token %}
			
			<div class="form-group">

				<div class="col-md-12">
					<h3>Nueva Contraseña</h3>
					{{ form.new_password1.errors }}
					<label for="id_new_password1">Nueva Contraseña</label>
					{{ form.new_password1 }}

					{{ form.new_password2.erros }}
					<label for="id_new_password2">Nueva Contraseña (Otra vez)</label>
					{{ form.new_password2 }}	
				
				<button type="submit" class="btn btn-outline-primary">Cambiar mi Contraseña</button>
				<p>Recuerda:</p>
				<li style="color: #CB703C">Su contraseña no puede ser muy similar a su información personal.</li>
				<li style="color: #CB703C">Su contraseña debe contener al menos 8 caracteres.</li>
				<li style="color: #CB703C">Su contraseña no puede ser una contraseña de uso común.</li>
				<li style="color: #CB703C">Su contraseña no puede ser completamente numérica.</li>
				</div>					

			
			</div>
			


		</form>
				
	{% else %}	
		
			<div class="alert alert-dismissible alert-warning">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <h4 class="alert-heading">Error!</h4>
			  <p class="mb-0">Este enlace ya ha sido utilizado.</p>
			</div>	
				
	{% endif %}
	
{% endblock %}