{% extends 'registration/login.html' %}

{% block content %}

	<div class="container">
		<div class="col-md-12">
			<h4>Recuperar Contraseña</h4>
			<form method="POST">{% csrf_token %}
				<div class="form-group">
			       <label for="id_email"><span class="icon-users"></span> Correo:</label>
			       {{form.email}}
					<button class="btn btn-primary" type="submit" value="Enviar">Enviar</button>
					<p>Ingrese su correo electrónico para recibir instrucciones. Su Correo debe estar registrado previamente, si no lo hizo acérquese a las oficinas administrativas </p>
			    </div>
			    
			</form>
		</div>
	</div>
	
{% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
{% endif %}


{% endblock %}

